.home {
    position:  relative;
    width: 100%;
    height: 100vh;
}
.home_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.home_title {
    position: absolute;
    bottom: 15%;
    right: 10%;
    color: white;
    font-size: 4rem;
    padding: 15px;
}
.home p {
    position: absolute;
    bottom: 12%;
    color: white;
    font-family: "MonteCarlo", cursive;
    font-size: 2rem;
    right: 30%;
}
@media screen and (max-width: 650px) {
    .home_title {
        left: 0;
        font-size: 1.6rem;
    }
    .home p {
        left: 12px;
        font-size: 1.2rem;
    }
}